/* INDEX.HTML */
/* main text color #2E2F42; */
/* secondary text color  #434455; */
/* logo text WEB color  #4D5AE5; */
/* Hero header text color  #FFFFFF  */
/* Logo in FOOTER text color  #F4F4FD */
/* Text in FOOTER color #E7E9FC; */
/* main color  #FFFFFF; */
/* secondary color #F4F4FD; */
/* HERO and FOOTER color #2E2F42; */
/* Hover color #404BBF; */
:root{
    --main-text-color: #434455;
    --title-text-color:#2E2F42;
    --accent-color: #4D5AE5;
    --footer-text-color: #E7E9FC;
    --footer-logo-text-color: #F4F4FD;
    --highlite-text-color: #404BBF;
    --main-bg-color:#FFFFFF;
    --secondary-bg-color:#F4F4FD;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: #fff;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}
/* -----------------------INDEX.HTML----------------------- */
/* -----------------------HEADER----------------------- */
.logo{
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--title-text-color);
}

.logo > span{
    color: var(--accent-color);
}

.site-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.site-nav .link{
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--highlite-text-color);
}

.address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address .link {
    color: var(--main-text-color);
}

.address .link:hover,
.address .link:focus{
    color: var(--highlite-text-color);
}
/* -----------------------/HEADER----------------------- */
/* -----------------------MAIN----------------------- */
/* -----------------------HERO----------------------- */

.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /* color: #FFFFFF; */
}

.order-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    background: var(--accent-color);
}

.order-btn:hover,
.order-btn:focus{
    background-color: var(--highlite-text-color);
    cursor: pointer;
}
/* -----------------------/HERO----------------------- */
/* -----------------------FEATURES----------------------- */
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.section-description{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.section-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----------------------/FEATURES----------------------- */
/* -----------------------SKILS----------------------- */
/* -----------------------/SKILS----------------------- */
/* -----------------------TEAM----------------------- */
/* -----------------------/TEAM----------------------- */
/* -----------------------/MAIN----------------------- */
/* -----------------------FOOTER----------------------- */

/* .footer > .logo{ 
    color: var(--footer-logo-text-color);
}*/
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* color: var(--footer-text-color); */
}
/* -----------------------/FOOTER----------------------- */
/* ---------------PORTFOLIO PAGE--------------------------- */
/* --------------BUTTONS------------------- */
.filter-button{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

   
    color: var(--accent-color);
    background-color: var(--footer-logo-text-color);
}

.filter-button:hover,
.filter-button:focus{
    background-color: var(--highlite-text-color);
    color:var(--main-bg-color);
    
    cursor: pointer;
}

